<md-grid-list cols="4" rowHeight="2:1" gutterSize="12px">

  <md-grid-tile [colspan]="3" [rowspan]="1" id="overview" >
    <div>
      <h3>Welcome {{company}}</h3>
      <md-divider></md-divider>
      <p>This web application will demonstrate the interaction between a sample client application and the AzoraOne API services.</p>
    </div>
  </md-grid-tile>

  <md-grid-tile [colspan]="0.95" [rowspan]="3" id="statistics">
    <div>

      <h4>Recent</h4>
      <md-divider></md-divider>
      <md-list>
        <md-list-item *ngFor="let recent of recents">
          <md-icon md-list-icon>check_box</md-icon>
          <h4 md-line>{{recent.name}}</h4>
          <p md-line> {{recent.time}}ms {{recent.accuracy}}</p>
        </md-list-item>
      </md-list>

      <h4>Statistics</h4>
      <md-divider></md-divider>
      <md-list>
        <md-list-item *ngFor="let recent of recents">
          <md-icon md-list-icon>check_box</md-icon>
          <h4 md-line>{{recent.name}}</h4>
          <p md-line> {{recent.time}}ms {{recent.accuracy}}</p>
        </md-list-item>
      </md-list>
    </div>
  </md-grid-tile>

  <md-grid-tile [colspan]="1" [rowspan]="2" id="income">
    <div>
      <h4>Income</h4>
      <md-divider></md-divider>
    </div>
  </md-grid-tile>

  <md-grid-tile [colspan]="1" [rowspan]="2" id="expenses">
    <div>
      <h4>Expenses</h4>
      <md-divider></md-divider>
    </div>
  </md-grid-tile>

  <md-grid-tile [colspan]="1" [rowspan]="2" id="profit-loss">
    <div>
      <h4>Profit and loss</h4>
      <md-divider></md-divider>
    </div>
  </md-grid-tile>

</md-grid-list>
