.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.account-container {
    margin-top: 10%;
    margin-left: 10%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

.pdf-container{
    overflow: hidden;
    height: 800px;
  width: 40%;
  margin-top: 3%;
  margin-right: 3%;
  padding: 3%;
  align-content: center;
}

