<div class="container">
  
  <div class="choose-pdf-container">
    <input *ngIf="pdfOptions.data==false" class="input-pdf" type="file" name="files" title="Load File" accept=".pdf" (change)="onFileChanged($event)"
    />
  </div>

  <div class="inline-block">
    <pdf-viewer *ngIf="pdfOptions.data" zoom={{value}} [src]="pdfOptions" [page]="page" [show-all]="false" [original-size]="true"
      style="display: block;"></pdf-viewer>
  </div>

</div>

<div>
  <md-slider min="1" max="2" step="1" [(ngModel)]="page"></md-slider>
</div>

<div>
  <button md-button (click)="onExtractData()">Extract</button>
</div>