<div class="flex-container">
  <div>

    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm)" class="form-width">

      <md-input-container class="full-width">
        <input formControlName="username" mdInput placeholder="Username">
      </md-input-container>

      <md-input-container class="full-width">
        <input formControlName="password" mdInput placeholder="Password" type="password">
      </md-input-container>

      <button md-button type="submit" [disabled]="loading || loginForm.invalid">Login</button>

      <a md-button [routerLink]="['/login/register']">Register</a>

    </form>
  </div>
</div>

<div *ngIf="loading" class="loading">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</div>