<div class="container">
  <div>
    <input *ngIf="!pdfOptions.data" type="file" title="Load File" accept=".pdf" (change)="onFileChanged($event)" />
  </div>

  <div class="inline-block">
    <pdf-viewer *ngIf="pdfOptions.data" zoom={{value}} [src]="pdfOptions" [page]="page" [show-all]="false" [original-size]="false"></pdf-viewer>
  </div>
</div>

<div>
  <md-slider min="1" max="2" step="1" [(ngModel)]="page"></md-slider>
</div>

<div>
  <div>
    <button md-button (click)="onUpload()" [disabled]="!pdfOptions.data">Upload</button>
  </div>

  <div>
    <button md-button (click)="onCancel()" [disabled]="pdfOptions.data">Cancel</button>
  </div>
</div>