.container{
  float: left;
  max-height: 50%;
  max-width: 100%;
  flex-basis: 66%;
  margin-top: 15%;
}

canvas {
  height: 60vh;
  width: 55vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 20%;
  margin-top: 0px;
  margin-bottom: 10px;
}


.main-pdf {
    width: 70%;
    left: float;
    position: absolute;
}

.btn {
  margin-right: 5%;
  float: left;
  margin-top: 0px;
}

.buttons {
  
}

md-slider {
  width: 6px;
  background: white;
  margin-left: 5%;
  float: right;
}

input {
  margin-left: 30%;
}




