.container{
  float: left;
  max-height: 50%;
  max-width: 100%;
  flex-basis: 66%;
  margin-top: 15%;
}

canvas {
  max-height: inherit;
  max-width: inherit;
  height: 60vh;
  width: 55vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 20%;
  margin-top: 0px;
  margin-bottom: 10px;
}


.main-pdf {
    width: 70%;
    left: float;
    position: absolute;
}

.btn {
  float: right;
  margin-top: 0px;
}

.buttons {

}


input {
  margin-left: 30%;
}




