<form [formGroup]="receiptForm" class="form" *ngIf="receiptData">

  <div class="">
    <div class="col-sm-3">
      <div class="form-control label-floating date">
        <label class="control-label">Reciept Date</label>
        <input type="text" class="form-control" formControlName="receiptDate">
      </div>
    </div>
  </div>

  <div>
    <div class="col-sm-3">
      <div class="form-control label-floating verification">
        <label class="control-label">Varification Serie</label>
        <input type="text" class="form-control" formControlName="verificationSerie">
      </div>
    </div>
  </div>

  <div class="account-container">
    <div formArrayName="accounts" class="account-part">
      <div *ngFor="let account of receiptForm.controls.accounts.controls; let i=index">

        <div class="col-sm-2 index">
          <div class="form-group label-floating">
            <label class="control-label">Id</label>
            <input type="number" class="form-control" placeholder="# {{i + 1}}">
          </div>
        </div>

        <div [formGroupName]="i" class="accounts">

          <div class="col-sm-3">
            <div class="form-group label-floating">
              <label class="control-label">Account</label>
              <input type="number" class="form-control" formControlName="account">
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group label-floating">
              <label class="control-label">Debit</label>
              <input type="number" class="form-control" formControlName="debit">
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group label-floating">
              <label class="control-label">Credit</label>
              <input type="number" class="form-control" formControlName="credit">
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group label-floating">
              <span *ngIf="receiptForm.controls.accounts.controls.length > 1" (click)="deleteAccount(i)" style="cursor: default">
              <i class="material-icons">delete forever</i>
            </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add">
    <a (click)="addAccount()" style="cursor: default">
      <i data-background-color="blue" class="material-icons">add</i>
    </a>
  </div>

  <div>
    <label>Description</label>
    <input type="text" class="form-control" formControlName="description">
  </div>

  <div>
    <label *ngIf="totalAmount!==0; else elseBlock" data-background-color="red"> Sum: {{totalAmount}} kr</label>
    <ng-template #elseBlock><label data-background-color="green"> Sum: {{totalAmount}} kr</label></ng-template>
  </div>

  <div>
    <button *ngIf="totalAmount===0; else elseBlock" class="btn btn-success">Account</button>
    <ng-template #elseBlock></ng-template>
    <button class="btn btn-default">Sync</button>
  </div>

</form>