.container-form {
  position: relative;
  height: 100%;
  padding-right: 5%;
}

.first-block {
  page-break-after: always;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-right: 10%;
}

.second-block {
  width: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.third-block {
align-self: flex-end; 
margin-top: 10%;
padding-right: 10%;
padding-left: 4%;
}

div [class*="col-"] {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.verification {
  width: 22%;
  margin-left: auto;
  padding-right: 10%;
}

div.form-group {
  margin-top: 0px;
}

.date {
  width: 30%;

}

.description {
  page-break-after: always;
}

.add {
  padding-left: 2%;
  float: left;
}

.sum {
  margin-top: auto;
}

.hidden-buttons {
  display: block;
  float: right;
  margin-top: 0px;
}

input { 
    text-align: right; 
}
