.buttons-expenses {
  float: left;
  right: 0;
  bottom: 10px;
}

.id-input {
  width: 18px;
}

.container-form {
  position: relative;
}

.accounts{
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.account-container {
    order: 1;
    flex-direction: ltr;
    flex-wrap: wrap;
    margin-left: 0px;
    display: block;
}

.first-block {
  margin-left: 0px;
  display: block;
}

.add {
  display: block;
  float: left;
}

.description {
  display: block;
  float: left;
}

.sum {
  float: right;
  position: absolute;
  margin-top: 70%;
}

.hidden-buttons {
  display: block;
  float: left;
}
