<form name="inv" novalidate (ngSubmit)="save(myForm)">
  <table class="table">
    <tr *ngFor="let row of invoiceItemsData; let i = index">

      <td>
        <md-select placeholder="Accounts" [(ngModel)]="selectedValue" name="accounts">
          <md-option *ngFor="let accounts of accounts" [value]="accounts.value">
            {{accounts.viewValue}}
          </md-option>
        </md-select>
      </td>

      <td>
        <md-input-container><input mdInput type="text" class="form-control" required [(ngModel)]="row.description" value="{{row.description}}"
            name="description" placeholder="Description"></md-input-container>
      </td>

      <td>
        <md-input-container><input mdInput type="number" class="form-control" required [(ngModel)]="row.amount" value="{{row.amount}}" name="amount"
            placeholder="Amount"></md-input-container>

      </td>
    </tr>

    <a class="btn btn-primary" (click)="addNewRow()">Add line</a>

  </table>

  <div class="buttons-expenses">
    <button md-button>Expand</button>
    <button md-button>Account</button>
  </div>

</form>