<div *ngFor="let row of invoiceItemsData; let i = index" class="table">
  <div *ngIf="i<7" class="form-group">
    <div id={{i}}>

      <label>
      # {{i + 1}}
    </label>

      <md-select placeholder="Accounts" [(ngModel)]="selectedValue" name={{i}}>
        <md-option *ngFor="let accounts of accounts" ngValue="accounts.value">
          {{accounts.value + " : " + accounts.viewValue}}
        </md-option>
      </md-select>

      <md-input-container><input mdInput type="text" class="form-control" required [(ngModel)]="row.description" value="{{row.description}}"
          name="description" placeholder="Description"></md-input-container>

      <md-input-container><input mdInput type="number" class="form-control" required [(ngModel)]="row.amount" value="{{row.amount}}" name="amount"
          placeholder="Amount"></md-input-container>

      <a class="btn btn-primary" (click)="remove()">
        <md-icon>delete</md-icon>
      </a>

    </div>
  </div>
</div>

<a class="btn btn-primary" (click)="addNewRow()">Add line</a>

<p> Total: {{amount}} kr </p>

<div class="buttons-expenses">
  <button md-button>Expand</button>
  <button md-button>Account</button>
</div>