<div fxFlexLayout="row" fxLayoutAlign="space-between">
  <div class="card card-stats column">

    <div class="card-header" data-background-color="purple">
      <i class="material-icons icon">file_upload</i>
    </div>

    <div class="card-content">

      <div class="upload-button" fxFlex="20" fxFlexAlign="center">
        <button class="btn btn-primary upload" (click)="onUpload()" color="primary">
            Upload Receipts
            <md-spinner *ngIf="filesUploading" color="primary"></md-spinner>
        </button>
        <input #fileInput type="file" accept=".pdf" multiple style="display: none;" (change)="onFileChanged($event)" />
      </div>

      <div fxFlex="40" fxFlexAlign="top" class="receipt-select">
        <select class="form-control" title="Select Receipe" [(ngModel)]="selectedFile" (change)="onChangeSelectedFile()">
      <option *ngIf="!selectedFile && filesToBookkeep.length > 0" disabled  [ngValue]="selectedFile">Select a receipe to bookkeep</option>
      <option *ngIf="!selectedFile && filesToBookkeep.length === 0" disabled [ngValue]="selectedFile">No recipes to bookkeep, please upload some to start</option>
      <option *ngFor="let file of filesToBookkeep" [ngValue]="file">
        {{file.filename}} - {{file.extractedData.receiptDate}} - {{file.extractedData.description}}
      </option>
    </select>
      </div>
      <div fxFlexAlign="center">
        Files:&nbsp;<span class="badge">{{ filesToBookkeep.length || 0}}</span>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <div class="card card-stats column">

      <div class="card-header" data-background-color="blue">
        <i class="material-icons icon">receipt</i>
      </div>

      <div class="card-content">
        <app-account [selectedFile]="selectedFile" (performBookkeep)="onPerformBookkeep($event)"></app-account>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-stats column">

      <div class="card-header" data-background-color="red">
        <i class="material-icons">picture_as_pdf</i>
      </div>

      <div class="card-content">
        <app-pdf [pdfSrc]="pdfSrc"></app-pdf>
      </div>

    </div>
  </div>

</div>

<div *ngIf="loading" class="loading">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</div>