<div fxFlexLayout="row" fxLayoutAlign="space-between">

  <div fxFlex>
    <button class="btn btn-primary upload" (click)="onUpload()" color="primary">
      <i class="material-icons">file_upload</i>
      Upload Receipts
    </button>
    <input #fileInput type="file" accept=".pdf" multiple style="display: none;" (change)="onFileChanged($event)" />
  </div>

  <div fxFlex>
    <select class="form-control" title="Select Receipe">
      <option>Select receipe</option>
      <option>File1</option>
      <option>File1</option>
      <option>File1</option>
    </select>
  </div>

</div>

<div class="row">

  <div class="col-sm-6">
    <div class="card card-stats column">

      <div class="card-header" data-background-color="blue">
        <i class="material-icons icon">receipt</i>
      </div>

      <div class="card-content">
        <app-account></app-account>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-stats column">

      <div class="card-header" data-background-color="red">
        <i class="material-icons">picture_as_pdf</i>
      </div>

      <div class="card-content">
        <app-pdf [pdfSrc]="pdfSrc"></app-pdf>
      </div>

    </div>
  </div>

</div>

<div *ngIf="loading" class="loading">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</div>