.row {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  height: 90%;
}

.container{
  position: relative;
}

.card-header {
  overflow: hidden;
  visibility: visible;
  display: block;
  z-index: 500 !important;
  position: relative;
}

.card-content {
  height: 100%;
}

.mat-spinner {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 12px;
}
