.row {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  height: 90%;
}

.container{
  position: relative;
}

.card-header {
  overflow: hidden;
  visibility: visible;
  display: block;
  z-index: 500 !important;
  position: relative;
}

.card-content {
  height: 100%;
}

.upload-button {
  margin-left: 23%;
  margin-right: 4%;
}

.receipt-select {
  margin-left: 0%;
  margin-right: 2%;
}

.mat-spinner {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 12px;
}

select option:disabled {
	color: #808080;
}