span {
  font-style: "helvetica neue";
  font-weight: 100;
  vertical-align: middle;
  margin-left: 20%;
  margin-top: 20%;
  line-height: 1.2em;
  color: black;
  width: 120px;
  display: inline-block;
} 
          